In [3]:
import numpy as np 
import matplotlib.pyplot as plt
import joblib
import pandas as pd

In [88]:
class perceptron:
    def __init__(self,eta,epochs):
        self.weights=np.random.randn(3)*1e-4
        print(f"self.weights:{self.weights}")
        self.eta=eta
        self.epochs=epochs
    def activateFunctions(self,inputs,weights):
        z=np.dot(inputs,weights)
        return np.where(z>0,1,0)
    def fit(self,x,y):
        self.x=x
        self.y=y
        
        X_with_bias=np.c_[self.x,-np.ones((len(self.x),1))]
        print(f"X_with_bias:\n{X_with_bias}")
        
        for epoch in range(self.epochs):
            print(f"for epoch:{epoch}")
            y_hat=self.activateFunctions(X_with_bias,self.weights)
            print(f"prediction value:\n{y_hat}")
            error=self.y-y_hat
            print(f"error:\n{error}")
            self.weights=self.weights+self.eta*np.dot(X_with_bias.T,error)
            print(f"updated weights:\n{self.weights}")
            
    def predict(self,X):
        X_with_bias=np.c_[X,-np.ones((len(self.x),1))]
        return self.activateFunctions(X_with_bias,self.weights)

In [89]:
data={"x1":[0,0,1,1],"x2":[0,1,0,1],"y":[0,0,0,1]}
AND=pd.DataFrame(data)
AND

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [90]:
X=AND.drop("y",axis=1)
X

   x1  x2
0   0   0
1   0   1
2   1   0
3   1   1

In [91]:
y=AND['y']
y.to_frame()

   y
0  0
1  0
2  0
3  1

In [92]:
model=perceptron(eta=0.5,epochs=10)
model.fit(X,y)

self.weights:[ 5.50578559e-05  1.94915917e-05 -7.41913327e-05]
X_with_bias:
[[ 0.  0. -1.]
 [ 0.  1. -1.]
 [ 1.  0. -1.]
 [ 1.  1. -1.]]
for epoch:0
prediction value:
[1 1 1 1]
error:
0   -1
1   -1
2   -1
3    0
Name: y, dtype: int64
updated weights:
[-0.49994494 -0.49998051  1.49992581]
for epoch:1
prediction value:
[0 0 0 0]
error:
0    0
1    0
2    0
3    1
Name: y, dtype: int64
updated weights:
[5.50578559e-05 1.94915917e-05 9.99925809e-01]
for epoch:2
prediction value:
[0 0 0 0]
error:
0    0
1    0
2    0
3    1
Name: y, dtype: int64
updated weights:
[0.50005506 0.50001949 0.49992581]
for epoch:3
prediction value:
[0 1 1 1]
error:
0    0
1   -1
2   -1
3    0
Name: y, dtype: int64
updated weights:
[5.50578559e-05 1.94915917e-05 1.49992581e+00]
for epoch:4
prediction value:
[0 0 0 0]
error:
0    0
1    0
2    0
3    1
Name: y, dtype: int64
updated weights:
[0.50005506 0.50001949 0.99992581]
for epoch:5
prediction value:
[0 0 0 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[0.50005506 0.50001949 0.99992581]
for epoch:6
prediction value:
[0 0 0 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[0.50005506 0.50001949 0.99992581]
for epoch:7
prediction value:
[0 0 0 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[0.50005506 0.50001949 0.99992581]
for epoch:8
prediction value:
[0 0 0 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[0.50005506 0.50001949 0.99992581]
for epoch:9
prediction value:
[0 0 0 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[0.50005506 0.50001949 0.99992581]

In [93]:
model.predict(X)

array([0, 0, 0, 1])

In [94]:
model.weights

array([0.50005506, 0.50001949, 0.99992581])

# OR

In [96]:
data={"x1":[0,0,1,1],"x2":[0,1,0,1],"y":[0,1,1,1]}
OR=pd.DataFrame(data)
OR

   x1  x2  y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

In [97]:
X=OR.drop("y",axis=1)
X

   x1  x2
0   0   0
1   0   1
2   1   0
3   1   1

In [98]:
y=OR['y']
y.to_frame()

   y
0  0
1  1
2  1
3  1

In [99]:
model=perceptron(eta=0.5,epochs=10)
model.fit(X,y)

self.weights:[-4.64385300e-05  5.40336578e-05  1.61656485e-05]
X_with_bias:
[[ 0.  0. -1.]
 [ 0.  1. -1.]
 [ 1.  0. -1.]
 [ 1.  1. -1.]]
for epoch:0
prediction value:
[0 1 0 0]
error:
0    0
1    0
2    1
3    1
Name: y, dtype: int64
updated weights:
[ 0.99995356  0.50005403 -0.99998383]
for epoch:1
prediction value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[ 0.99995356  0.50005403 -0.49998383]
for epoch:2
prediction value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]
for epoch:3
prediction value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]
for epoch:4
prediction value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]
for epoch:5
prediction value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]
for epoch:6
prediction value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]
for epoch:7
prediction value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]
for epoch:8
prediction value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]
for epoch:9
prediction value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: y, dtype: int64
updated weights:
[9.99953561e-01 5.00054034e-01 1.61656485e-05]

In [101]:
model.predict(X)

array([0, 1, 1, 1])

In [103]:
model.weights

array([9.99953561e-01, 5.00054034e-01, 1.61656485e-05])

# XOR

In [105]:
data={"x1":[0,0,1,1],"x2":[0,1,0,1],"y":[0,1,1,0]}
XOR=pd.DataFrame(data)
XOR

   x1  x2  y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  0

In [108]:
X=XOR.drop("y",axis=1)
X

   x1  x2
0   0   0
1   0   1
2   1   0
3   1   1

In [110]:
y=XOR['y']
y.to_frame()

   y
0  0
1  1
2  1
3  0

In [111]:
model=perceptron(eta=0.5,epochs=100)
model.fit(X,y)

self.weights:[-2.95140134e-05 -1.71681391e-05 -5.94890589e-06]
X_with_bias:
[[ 0.  0. -1.]
 [ 0.  1. -1.]
 [ 1.  0. -1.]
 [ 1.  1. -1.]]
for epoch:0
prediction value:
[1 0 0 0]
error:
0   -1
1    1
2    1
3    0
Name: y, dtype: int64
updated weights:
[ 0.49997049  0.49998283 -0.50000595]
for epoch:1
prediction value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3   -1
Name: y, dtype: int64
updated weights:
[-2.95140134e-05 -1.71681391e-05  4.99994051e-01]
for epoch:2
prediction value:
[0 0 0 0]
error:
0    0
1    1
2    1
3    0
Name: y, dtype: int64
updated weights:
[ 0.49997049  0.49998283 -0.50000595]
for epoch:3
prediction value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3   -1
Name: y, dtype: int64
updated weights:
[-2.95140134e-05 -1.71681391e-05  4.99994051e-01]
for epoch:4
prediction value:
[0 0 0 0]
error:
0    0
1    1
2    1
3    0
Name: y, dtype: int64
updated weights:
[ 0.49997049  0.49998283 -0.50000595]
for epoch:5
prediction value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3   -1
Name: y, dtype: int64
updated weights:
[-2.95140134e-05 -1.71681391e-05  4.99994051e-01]
for epoch:6
prediction value:
[0 0 0 0]
error:
0    0
1    1
2    1
3    0
Name: y, dtype: int64
updated weights:
[ 0.49997049  0.49998283 -0.50000595]
for epoch:7
prediction value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3   -1
Name: y, dtype: int64
updated weights:
[-2.95140134e-05 -1.71681391e-05  4.99994051e-01]
for epoch:8
prediction value:
[0 0 0 0]
error:
0    0
1    1
2    1
3    0
Name: y, dtype: int64
updated weights:
[ 0.49997049  0.49998283 -0.50000595]
for epoch:9
prediction value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3   -1
Name: y, dtype: int64
updated weights:
[-2.95140134e-05 -1.71681391e-05  4.99994051e-01]

In [112]:
model.predict(X)

array([0, 0, 0, 0])

In [113]:
model.weights

array([-2.95140134e-05, -1.71681391e-05,  4.99994051e-01])